body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* MAIN OVERVIEW CONTAINER */
.container {
    max-width: 90%;
    margin: auto;
    margin-top:20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* STANDARD TABLE */
.table-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;
}

.table-container thead {
    background: #3F4D92;
    color: #fff;
}

.table-container th, .table-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container tbody tr:nth-child(even) {
    background: #f8f9fa;
}

.table-container tbody tr:hover {
    background: #e2e6ea;
    transition: 0.3s;
}


h1 {
    text-align: center;
}

input {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

/* NAVIGATION BAR*/
nav {
    background: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px 0 0 40px;
    margin:0;
}

nav li {
    position: relative;
    height:40px;
}

nav a {
    text-decoration: none;
    background: #d1d1d1;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    border: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    position: relative;
    z-index: 1;
    height: 18px;
}

.active {
    border-bottom:2px solid #f4f4f4;
    background: #f4f4f4;
}

nav a:hover {
    background: #a1a1a1;
}

.active:hover {
    background: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom:2px solid black;
    height: 90px;
}

.nav-logo {
    height: 70px;
    width: auto;
    margin-right: 20px;
}

/* METERS */
.meters-container {
    display: flex;
    justify-content: space-around;
    background-color: #E7E7E9;
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    width: 90%;
    margin: auto;
    margin-bottom:10px;
}
.meter-item-container {
    padding:15px;
    background-color:white;
    border-radius:15px;
    font-size:1.5em;
    font-style:italic;
    font-weight:bold;
}
.meter-value-container {
    display:flex;
    justify-content: space-around;
    font-style:normal;
    padding:3px;
    font-weight:normal
}
.meters {
    font-size:2.5em;
    padding:5px;
}
.meter-unit {
    margin-top:auto;
    padding:10px
}

/* PROGRAM INFO */
.program-state-container {
    display: flex;
    justify-content: space-around;
    background-color: #E7E7E9;
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    width: 90%;
    margin: auto;
    margin-bottom:10px;
}
.program-name-container {
    background-color: white;
    padding:15px;
    border-radius:15px;
}
.program-time-container {
    background-color: white;
    padding:15px;
    border-radius:15px;
}
.name-item-container {
    display:flex;
    justify-content: space-between;
    min-width:350px;
}

.time-item-container {
    display:flex;
    justify-content: space-between;
    min-width:350px;
}

.time-container {
    display:flex;
    justify-content: end;
}

.time {
    font-size:1.5em;
}
.name {
    font-size:1.2em;
}
#program-name {
    font-weight: bold;
}

.program-slash {
    margin-top:auto;
    font-size:1.2em;
}
.total-time {
    margin-top:auto;
}

/* CONTROL */
.control-select-container {
    background-color: #E7E7E9;
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    width: 90%;
    margin: auto;
    margin-bottom:50px;
}
.select-program-container {
    display:flex;
    justify-content: space-around;
}
.switches {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.controls {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width:40%;
}

.overview-btn {
    border-radius:7px;
    border:none;
    border-style:solid;
    border-width:2px;
    border-color:#3F4D92;
    background-color:#B8BED5;
    padding: 10px 20px;
    font-size:16px;
    cursor:pointer;
    -webkit-appearance: none;
}

#start-btn {
    background-color:#A5FAA5;   
}

#pause-btn {
    background-color:#FACFA5;
}

#stop-btn {
    background-color:#FAA5A5;
}

.switch-active {
    background:#3F4D92 !important;
    color:white !important;
    border-radius:2px;
    border:none;
    border-style:solid;
    border-width:0.5px;
    border-color:#3F4D92;
    padding: 10px 20px;
    font-size:16px;
    cursor:pointer;
    -webkit-appearance: none;
}

.start-active {
    background:green !important;
    color:white !important;
}

.pause-active {
    background:orange !important;
    color:white !important;
}

.stop-active {
    background: red !important;
    color:white !important;
}
