{% extends "layout.html" %}

{% block head %}
<script src="static/Chart.min.js"></script>
<style>
    .chart-container {
        width: 100%;
        height: 500px;
    }
</style>
{% endblock %}
{% block main %}
    <div class="master-acc">
        <script>
            var charts = {};
        </script>
        {% for control in controls %}
        <div class="chart-container">
            <canvas id="control-{{control.ControlID}}-chart"></canvas>
            <div>
            </div>
            <form action="/acc/{{control.ControlID}}" method="GET">
                <input type="submit" value="Clear"/>
            </form>
        </div>

        <script>
        var ctx = document.getElementById("{{control.ControlID}}-chart").getContext("2d");

        charts["{{control.ControlID}}"] = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ control.time|tojson }},
                datasets: [
                    {
                        label: "Measured [{{ control.Unit }}]",
                        data: {{ control.meas|tojson }},
                        borderColor: "#0074D9",
                        borderWidth: 3,
                        fill: false,
                        pointRadius: 0,
                        lineTension: 0,
                        yAxisID: "y-axis-value"
                    },
                    {
                        label: "Reference [{{ control.Unit }}]",
                        data: {{ control.ref|tojson }},
                        borderColor: "#FF4136",
                        borderWidth: 3,
                        fill: false,
                        pointRadius: 0,
                        lineTension: 0,
                        yAxisID: "y-axis-value"
                    },
                    {
                        label: "Frequency [Hz]",
                        data: {{ control.freq|tojson }},
                        borderColor: "#2ECC40",
                        borderWidth: 3,
                        fill: false,
                        pointRadius: 0,
                        lineTension: 0,
                        yAxisID: "y-axis-frequency"
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                animation: false,

                title: {
                    display: true,
                    text: "{{ control.Name }}",
                    fontSize: 16
                },
                
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 10
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Time"
                        }
                    }],

                    yAxes: [
                        {
                            id: "y-axis-value",
                            position: "left",
                            scaleLabel: {
                                display: true,
                                labelString: "[{{control.Unit}}]"
                            }
                        },
                        {
                            id: "y-axis-frequency",
                            position: "right",
                            scaleLabel: {
                                display: true,
                                labelString: "Frequency [Hz]"
                            },
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }
                    ]
                }
            }
        });
        </script>
    {% endfor %}
    {% for table in tables %}
    <div class="table-container">
        <h1>{{ tableNames[loop.index-1] }}</h1>
        <form action="/acc/{{ tableNames[loop.index-1] }}" method="POST">
                <table>
                        <thead>
                                <tr>
                                        {% for key, value in table[0].items() %}
                                                <th>{{key}}</th>
                                        {% endfor %}
                                </tr>
                        </thead>
                        <tbody>
                                   {% for item in table %}
                                {% set outer_loop = loop %}
                                           <tr>
                                                   {% for key, value in item.items() %}
                            <td><input name="{{outer_loop.index|string + key}}" value="{{value}}" /></th>
                                                   {% endfor %}
                                           </tr>
                                {% endfor %}
                <tr><td><input type="submit" value="Apply"/></td></tr>
                        </tbody>
                </table>
        </form>
        </div>
    {% endfor %}
</div>
{% endblock %}
