{% extends "layout.html" %}

{% block head %}
{% endblock %}
{% block main %}
    <div class="master-acc">
        <div>Advanced Cyclone Control</div>
        {% for control in controls %}
        <div class="acc-item">
            <canvas id="freqChart" style="max-height:300px;"></canvas>
            <form action="" method="post">
                <div>
                    <label name="Ref">p_ref [bar]</label>
                    <input name="Ref" type="number" value="{{control.Ref}}" step="0.1">
                </div>
                <div>
                    <label name="Kp">Kp</label>
                    <input name="Kp" type="number" value="{{control.Kp}}" step="0.1">
                </div>
                <div>
                    <label name="Ki">Ki</label>
                    <input name="Ki" type="number" value="{{control.Ki}}" step="0.1">
                </div>
                <div>
                    <label name="Kd">Kd</label>
                    <input name="Kd" type="number" value="{{control.Kd}}" step="0.1">
                </div>
                <div>
                    <input type="submit" value="Apply">
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}
