{% extends "layout.html" %}

{% block head %}
{% endblock %}
{% block main %}
    <div class="master-acc">
        <div>Advanced Cyclone Control</div>
        <div>
            <form action="" method="get">
                <div>
                    <label for="name">p_ref [bar]</label>
                    <input type="number" value="1.8"/>
                </div>
                <div>
                    <input type="submit" value="Apply"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
