{% extends "layout.html" %}

{% block head %}
<style>
.hmi-container 
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 700px;
    position: relative;
}
#hmi-diagram
{
    background-image: url("static/images/HMI-diagram.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 800px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}
.hmi-pump
{
	background-color: rgb(255,112,112);
	border-radius:50%;
	border: none;
	width: 33px;
	height: 33px;
	position: absolute;
	z-index: 1;
    padding:0;
}
    
.hmi-active
{
        background-color: rgb(112,255,112);
}
    
[id="1"]
{
    top: 147px;
    left: 128px;
}
[id="1.1"]
{
    top: 147px;
    left: 548px;
}
[id="3"]
{
    top: 350px;
    left: 178px;
}
[id="4"]
{
    top: 467px;
    left: 178px;
}
[id="5"]
{
    top: 501px;
    left: 379px;
}
[id="6"]
{
    top: 63px;
    left: 178px;
}
[id="7"]
{
    top: 483px;
    left: 665px;
}
[id="8"]
{
    top: 517px;
    left: 665px;
}
[id="9"]
{
	top: 63px;
	left: 481px;
}
[id="10"]
{
    top: 148px;
    left: 615px;
}
[id="11"]
{
    top: 560px;
    left: 608px;
}
[id="12"]
{
    top: 274px;
    left: 279px;
}
[id="13"]
{
    top: 551px;
    left: 312px;
}
[id="13.1"]
{
    top: 603px;
    left: 136px;
}
.hmi-lvl-container
{
    position: absolute;
    background-color: rgb(255,112,112);
    width: 68px;
    height: 52px;
}
.hmi-lvl-container-pers
{
    color: white;
    position: absolute;
    background-color: #385193;
    width: 50px;
    height: 34px;
}
.hmi-mtr-container
{
    position: absolute;
    background-color: #385193;
    width: 67px;
    height: 42px;
    color: white;
}
.hmi-mtr
{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 7px;
    font-size: 1.1rem;
}
.hmi-mtr-unit
{
    padding-left: 5px;
    padding-right:2px;
    font-size: 0.8rem;
    margin-left: auto;
    width: fit-content;
}
.hmi-mtr-unit-pers
{
    margin-top:-3px;
}
#hmi-mtr-0
{
    top:517px;
    left:47px;
}
#hmi-mtr-1
{
    top:472px;
    left:47px;
}
#hmi-mtr-2
{
    top:425px;
    left:47px;
}
#hmi-mtr-3
{
    top:379px;
    left:47px;
}

.hmi-lvl-ok
{
    background-color: rgb(112,255,112);
}
#hmi-mix-container
{
    top:281px;
    left:160px;
}
#hmi-vuil-container
{
    top:281px;
    left:362px;
}
#hmi-schoon-container
{
    top:281px;
    left:565px;
}
#hmi-pers-container
{
    top: 508px;
    left: 606px;
}
.hmi-lvl-pers
{
        margin-left:3px;
        width: fit-content;
        padding-top: 3px;
}
.hmi-lvl
{
        margin:auto;
        width: fit-content;
        padding-top: 17px;
}
.master-hmi-container
{
    background-color: white;
    border-radius: 15px;
    padding:30px;
    margin-top: 15px;
    min-width:800px;
}
.control-select-container-hmi 
{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
    border-top:none;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-top: solid;
    border-color: #f4f4f4;
}
.controls-hmi 
{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 90%;
}
</style>
{% endblock %}
{% block main %}
    <div class="master-hmi-container">
		<div class="hmi-container">
            <div id="hmi-diagram"></div>
            <form action="/toggleswitch/1">
                <input type="submit" class="hmi-pump" id="1" value>
            </form>
            <form action="/toggleswitch/1">
                <input type="submit" class="hmi-pump" id="1.1" value>
            </form>
            <form action="/toggleswitch/3">
                <input type="submit" class="hmi-pump" id="3" value>
            </form>
            <form action="/toggleswitch/4">
                <input type="submit" class="hmi-pump" id="4" value>
            </form>
            <form action="/toggleswitch/5">
                <input type="submit" class="hmi-pump" id="5" value>
            </form>
            <form action="/toggleswitch/6">
                <input type="submit" class="hmi-pump" id="6" value>
            </form>
            <form action="/toggleswitch/7">
                <input type="submit" class="hmi-pump" id="7" value>
            </form>
            <form action="/toggleswitch/8">
                <input type="submit" class="hmi-pump" id="8" value>
            </form>
            <form action="/toggleswitch/9">
                <input type="submit" class="hmi-pump" id="9" value>
            </form>
            <form action="/toggleswitch/10">
                <input type="submit" class="hmi-pump" id="10" value>
            </form>
            <form action="/toggleswitch/12">
                <input type="submit" class="hmi-pump" id="12" value>
            </form>
            <form action="/toggleswitch/13">
                <input type="submit" class="hmi-pump" id="13" value>
            </form>
            <form action="/toggleswitch/13">
                <input type="submit" class="hmi-pump" id="13.1" value>
            </form>
            <div class="hmi-lvl-container" id="hmi-mix-container">
                <div class="hmi-lvl" id="hmi-mix">
                    {{ aM['mix'] }}
                </div>
            </div>
            <div class="hmi-lvl-container" id="hmi-vuil-container">
                <div class="hmi-lvl" id="hmi-vuil">
                    {{ aM['vuil'] }}
                </div>
            </div>
            <div class="hmi-lvl-container" id="hmi-schoon-container">
                <div class="hmi-lvl" id="hmi-schoon">
                    {{ aM['schoon'] }}
                </div>
            </div>
            <div class="hmi-lvl-container-pers" id="hmi-pers-container">
                <div class="hmi-lvl-pers" id="hmi-pers">
                    {{ meters[3]['Value'] }}
                </div>
                <div class="hmi-mtr-unit hmi-mtr-unit-pers">
                    bar
                </div>
            </div>
            <div class="hmi-mtr-container" id="hmi-mtr-0">
                <div class="hmi-mtr" id="hmi-0">
                    {{ meters[0]['Value'] }}
                </div>
                <div class="hmi-mtr-unit">
                    bar
                </div>
            </div>
            <div class="hmi-mtr-container" id="hmi-mtr-1">
                <div class="hmi-mtr" id="hmi-1">
                    {{ meters[1]['Value'] }}
                </div>
                <div class="hmi-mtr-unit">
                    A
                </div>
            </div>
            <div class="hmi-mtr-container" id="hmi-mtr-2">
                <div class="hmi-mtr" id="hmi-2">
                    {{ meters[2]['Value'] }}
                </div>
                <div class="hmi-mtr-unit">
                    L/min
                </div>
            </div>
            <div class="hmi-mtr-container" id="hmi-mtr-3">
                <div class="hmi-mtr" id="hmi-3">
                    -
                </div>
                <div class="hmi-mtr-unit">
                    L/min
                </div>
            </div>
		</div>
    </div>
        <div class="control-select-container-hmi">
            <div class="controls-hmi">
                <form action="/auto">
                    <input class="overview-btn" type="submit" id="auto-btn" value="Auto"/>
                </form>
                <form action="/pause">
                    <input class="overview-btn" type="submit" id="pause-btn" value="Pause"/>
                </form>
                <form action="/stop">
                    <input class="overview-btn" type="submit" id="stop-btn" value="Stop"/>
                </form>
            </div>
        </div>
{% endblock %}
