<!DOCTYPE html>

<html lang="en">
	<head>
		<title>BB-1</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/styles.css">
        <meta http-equiv="refresh" content="0.1">
	</head>
	<nav>
		<div class="navbar">
			<ul>
				<li class="nav-item">
					<a id="nav-link-overview" href="/">
						<span>Overview</span>
					</a>
				</li>
				<li class="nav-item">
					<a id="nav-link-tableview" href="/tableview">
						<span>Table View</span>
					</a>
				</li>
				<li class="nav-item">
					<a id="nav-link-program" href="/program">
						<span>Program</span>
					</a>
				</li>
			</ul>
            <img src="static/images/BlauweBaggerLogo.png" class="nav-logo">
		</div>
	</nav>

	<main>
		{% block main %}{% endblock %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>
	</main>
