{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <h1>Filtration Plant Control</h1>
        <div> Meters:
            {% for meter in meters %}
            <div> {{ meter["Name"] }} 
                <div 
                    class ="meters" id="{{ meter["MeterID"] }}">{{ meter["Value"] }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            ProgramRunTime: <div id=program-run-time>{{ machineStatus[0]["ProgramRunTime"]}}</div>
        </div>
        <div>
            Select Program:
            <form action="/selectprogram/" method="POST">
            <select name="program">
                {% for program in programs %}
                <option value={{ program["ProgramID"] }}>{{ program["Name"] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Apply"/>
            </form>
        </div>
        <div class="controls">
        <form action="/start">
            <input type="submit" id="start-btn" value="Start"/>
        </form>
        <form action="/pause">
            <input type="submit" id="pause-btn" value="Pause"/>
        </form>
        <form action="/stop">
            <input type="submit" id="stop-btn" value="Stop"/>
        </form>
        </div>
        <div class="switches">
            Switches:
            {% for switch in switches %}
            {% if switch["SwitchID"] in activeSwitches %}
            <form action="/toggleswitch/{{ switch["SwitchID"] }}">
                <input type="submit" class="switch-active switch-btn" id="{{ switch["SwitchID"] }}" value="{{ switch["Name"] }}"/>
            </form>
            {% else %}
            <form action="/toggleswitch/{{ switch["SwitchID"] }}">
                <input type="submit" class="switch-btn" id="{{ switch["SwitchID"] }}" value="{{ switch["Name"] }}"/>
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="table-container">
        <h1>MACHINESTATUS</h1>
                <table>
                        <thead>
                                <tr>
                {% for key, value in machineStatus[0].items() %}
                                                <th>{{key}}</th>
                                        {% endfor %}
                                </tr>
                           </thead>
                        <tbody>
                                {% for item in machineStatus %}
                                        <tr>
                                                {% for key, value in item.items() %}
                                                        <td>{{value}}</th>
                                                {% endfor %}
                                        </tr>
                                {% endfor %}
                        </tbody>
                </table>
        </div>

{% endblock %}
