{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <div class="meters-container">
            {% for meter in meters %}
            <div class="meter-item-container"> {{ meter["Name"] }}
                <div class="meter-value-container">
                    <div
                        class ="meters" id="{{ meter["MeterID"] }}">{{ meter["Value"] }}
                    </div>
                    <div class="meter-unit">
                        L/min
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="program-state-container">
            <div class="program-name-container">
                <div class="name-item-container">
                    <div class="pre-name">Program:</div>
                    <div class="name" id="program-name">{{ CMS['programName'] }}</div>
                </div>
                <div class="name-item-container">
                    <div class="pre-name"> Stage:</div>
                    <div class="name" id="stage-name">{{ CMS['stageName'] }}</div>
                </div>
                <div class="name-item-container">
                    <div class="pre-name">Next-Stage:</div>
                    <div class="name" id="next-stage-name">{{ CMS['nextStageName'] }}</div>
                </div>
            </div>
            <div class="program-time-container">
                <div class="time-item-container">
                    <progress id="program-progress" value="{{ CMS['programRunTime'] }}" max="{{ CMS['totalProgramTime'] }}"></progress>
                </div>
                <div class="time-item-container">
                    <div class="pre-time">Program Time:</div>
                    <div class="time-container">
                        <div class="time" id="program-run-time">{{ CMS['programRunTime'] }}</div>
                        <div class="program-slash">/</div>
                        <div class="total-time" id="total-program-time">{{ CMS['totalProgramTime'] }} </div>
                        <div class="total-time">s</div>
                    </div>
                </div>
                <div class="time-item-container">
                    <div class="pre-time">Stage Time:</div>
                    <div class="time-container">
                        <div class="time" id="stage-run-time">{{ CMS['stageRunTime'] }}</div>
                        <div class="program-slash">/</div>
                        <div class="total-time" id="total-stage-time">{{ CMS['totalStageTime'] }} </div>
                        <div class="total-time">s</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-select-container">
            <div class="switches">
                {% for switch in switches %}
                {% if switch["SwitchID"] in CMS['activeSwitches'] %}
                <form action="/toggleswitch/{{ switch["SwitchID"] }}">
                    <input type="submit" class="switch-active switch-btn" id="{{ switch["SwitchID"] }}" value="{{ switch["Name"] }}"/>
                </form>
                {% else %}
                <form action="/toggleswitch/{{ switch["SwitchID"] }}">
                    <input type="submit" class="overview-btn switch-btn" id="{{ switch["SwitchID"] }}" value="{{ switch["Name"] }}"/>
                </form>
                {% endif %}
                {% endfor %}
            </div>
            <div class="controls">
                <form action="/previous">
                    <input class="overview-btn" type="submit" value="Previous">
                </form>
                <form action="/start">
                    <input class="overview-btn" type="submit" id="start-btn" value="Start"/>
                </form>
                <form action="/pause">
                    <input class="overview-btn" type="submit" id="pause-btn" value="Pause"/>
                </form>
                <form action="/stop">
                    <input class="overview-btn" type="submit" id="stop-btn" value="Stop"/>
                </form>
                <form action="/next">
                    <input class="overview-btn" type="submit" value="Next">
                </form>
            </div>
            <div class="select-program-container">
                <form action="/selectprogram/" method="POST">
                <select name="program">
                    {% for program in programs %}
                    <option value={{ program["ProgramID"] }}>{{ program["Name"] }}</option>
                    {% endfor %}
                </select>
                <input class="overview-btn" type="submit" value="Select"/>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
