{% extends "layout.html" %}

{% block main %}

	<div>
		Programma Pagina
	</div>
	<div>
		<form action="/program/motors" method="POST">
                <table>
                        <thead>
                                <tr>
                                        {% for key, value in motors[0].items() %}
                                                <th>{{key}}</th>
                                        {% endfor %}
                                </tr>
                        </thead>
                        <tbody>
                               	{% for motor in motors %}
                                       	<tr>
                                               	{% for key, value in motor.items() %}
							<td><input name="{{motor.switch + key}}" value="{{value}}" /></th>
                                               	{% endfor %}
                                       	</tr>
                                {% endfor %}
				<tr><td><input type="submit" value="Apply"/></td></tr>
                        </tbody>
                </table>
		</form>
        </div>

{% endblock %}
