{% extends "layout.html" %}

{% block main %}
	{% for table in tables %}
		<div class="table-container">
			<h1>{{ tableNames[loop.index-1] }}</h1>
                	<table>
                        	<thead>
                                	<tr>
					{% for key, value in table[0].items() %}
                                        	        <th>{{key}}</th>
                                 	       {% endfor %}
                                	</tr>
                       		</thead>
                        	<tbody>
                                	{% for item in table %}
                                        	<tr>
                                                	{% for key, value in item.items() %}
                                                	        <td>{{value}}</th>
                                        	        {% endfor %}
                                	        </tr>
                        	        {% endfor %}
                	        </tbody>
        	        </table>
	        </div>
	{% endfor %}
{% endblock %}
